.header{
	background-color: #333939;
	padding: 20px 0;
	text-align: center;
}
.logo{
	display: inline-block;
	margin-bottom: 10px;
}
.navbar a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 15px;
}
a:visited{
  color: #fff;
}
.navbar > a:hover, 
.navbar > a:active, 
.navbar > a:focus{
  color:gold;
}
.loginBlock{
	float: right;
	color: aquamarine;
}