.header{
	background-color: #02918c;
	padding: 20px 0;
	text-align: center;
}
.logo{
	display: inline-block;
	margin-bottom: 10px;
}
.navbar a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 15px;
}
a{
  color: #2c87f0;
}
a:visited{
  color: #fff;
}
a:hover, a:active, a:focus{
  color:gold;
}