.dialogs{
    display: grid;
    grid-template-columns: 5fr 20fr;
    background-color: aqua;
}
.dialogItems {
    padding: 10px;
}
.messages {
    padding: 10px;
}
.addMessageButton{
    background-color: rgb(237, 186, 55);
}