.main-pic{
	background-image: url(../images/main-pic.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 150px 0px;
	color: #fff;
	text-align: center;
}
.zagolovok{
	color: white;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center; 
display: inline-block;
transform: scale(1.5,1);
margin-bottom: 0px;
}
.main-text{
	padding: 0px 250px;
	color: white;
font-size: 18px;
line-height: 33px;
margin-top: 0px;
}

.know-more{
	display: inline-block;
	background-color: #cfc91d;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 30px;
	margin-top: 150px;
}
.about{
color: #02918c;
font-size: 46px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
margin-top: 100px;
}
.about-text{
	text-align: center;
	color: #7e8287;
	text-align: 16px;
	padding: 0px 250px;
	line-height: 40px;

}
.zag{
	font-size: 18px;
	color: #7e8287;
	font-weight: bold;
	text-align: center;
}
.text-kolonka{
	font-size: 14px;
	color: #7e8287;
}
.box
{
	padding: 50px;
	margin-top: 50px;
	margin-left: 40px;
	width: 20%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: top;
}
.box1{
	background-image: url(../images/ic-lamp.png);
}
.box2{
	background-image: url(../images/ic-pencil.png);
}
.box3{
	background-image: url(../images/ic-set.png);
}
.box4{
	background-image: url(../images/ic-laptop.png);
}